body { font-family: sans-serif; }
body{
  background-image:linear-gradient(to right,#0c134d , #1367b1);  
}

img{
  border-radius: 30px;
}
.scene {
  width:446px;
  height:302px;
  position: fixed;
  top: 50%; left: 50%;  
  transform: translate(-50%, -50%);
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

}

.card:hover{
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  line-height: 300px;
  color: #e6e68f;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;

}

.card__face--back {
  background: midnightblue;
  transform: rotateY(180deg);
}